@import '../../styles/settings.scss';


@media (min-width: 992px) { //above md size
    .projectsList {
        min-width: 600px;
        max-width: 800px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { //md size
    .projectsList {
        min-width: 400px;
        max-width: 600px;
    }
}

@media (max-width: 768px) { //xs size
    .title {
        margin-top: 0px;
    }
    .projectsList {
        min-width: 300px;
        max-width: 500px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    .title {
        margin: 4px auto;
        width: fit-content;
        font-size: 30px;
        font-weight: 400;
        //color: rgba($color-success, 1)
    }
    .projectsList {
        //border-right: 3px solid rgba($color-success, 1);
        //border-left: 3px solid rgba($color-success, 1);
        border-radius: 12px;
        margin: auto;
        width:100%;
        min-width: 300px;
        max-width: 800px;
    }
}