@import '../../styles/settings.scss';

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    .title {
        margin: 4px auto;
        width: fit-content;
    }
    .projectsList {
        border-right: 3px solid rgba($color-success, 1);
        border-left: 3px solid rgba($color-success, 1);
        border-top: 1px solid rgba($color-secondary, 0.2);
        border-bottom: 1px solid rgba($color-secondary, 0.2);
        border-radius: 12px;
        background: rgba($color-success, 0.05);
        margin: 10px auto;
        width: 52vw;
    }
}