@import '../../styles/settings.scss';


.row {
    margin: 16px auto;
    background: rgba($color-light, 1);
    border-radius: 12px;
    max-width: fit-content;
    border-bottom: 4px solid $color-success;
    min-height: 70vh;
    text-align: center;
    .col {
        margin: 0 auto;
        border-radius: 12px;
        h1 {
            margin-top: 12px;
        }
        .projectsSection {
            justify-content: center;
            .projectsList {
                min-width:20vw;
            }
        }
    }
}