@import '../../styles/settings.scss';

.dot{
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    padding:0;
    background: $color-light;
    border: 5px solid white;
    font-size: 1px;
    transition: 0.1s all linear; 
    opacity: 0.4;
}
