$color-light: #FBFBFB;
$color-dark: #332D2D;
$color-secondary: #9FA6B2;
$color-success: #14A44D;
$color-danger: #DC4C64;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
