@import '../../styles/settings.scss';

.splash{
background: #F5D4A3;
height:100vh;
background-position: center center;
background-size: cover;
background-attachment: fixed;

    .title{
        left: 20vh;
        top: 10vh;
        position: absolute;
        font-size: 40px;
        z-index: 10;
        color: #F5D4A3;
        padding: 2px 5px;
        background-color: $color-light;
        border-radius: 5px;
        border: #F5D4A3 solid 5px;
    }
}