@import '../../styles/settings.scss';

@media (min-width: 992px) { //above md size
    .row{
        max-width: 1600px;
        margin-right: 0;
        padding: 8px;
        .img {
            padding: 0;
            margin: 0 auto;
            max-width: 350px; 
            max-height: 350px;
        }
        .text {
            max-width: 600px; 
        }
        .buttonRow{
            max-width: 400px; 
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) { //md size
    .row{
        max-width: 750px;
        margin: 0;
        padding: 8px 0;
        .col {
            margin: 0 10px;
        }
        .img {
            padding: 0;
            max-width: 350px; 
            max-height: 350px;
        }
        .text {
            max-width: 300px; 
        }
        .buttonRow{
            max-width: 300px; 
        }
    }
}
@media (max-width: 768px) { //xs size
    .row{
        max-width: 450px; 
        margin: 0 ;
        padding: 0;
        .img {
            min-height: fit-content;
        }
        .text, .buttonRow, .img {
            max-width: 300px; 
        }
    }
}

.home {
    position: relative;
    margin: 10px auto;
    .row {
        margin: 16px auto;
        background: rgba($color-light, 1);
        border-radius: 12px;
        max-width: fit-content;
        min-height: 70vh;
        .col {
            margin: 10vh auto;
            border-radius: 12px;
            .img {
                margin: 0 auto;
                border-radius: 12px;
                aspect-ratio: 1;
                object-fit: cover;
                border: 4px solid rgba($color-secondary, 0.2);           
            }
            .text {
                .title {
                    font-family: 'Exo', sans-serif;
                    margin-bottom: 10px;
                    font-weight: 400;
                    color: $color-dark;
                    font-size: 2* $base-size;
                }
                .subtitle {
                    font-weight: 100;
                    font-size: $base-size * 1.7;
                }
                .description {
                    font-size: $base-size * 1.2;
                }
            }
            .contact {
                border: 2px solid rgba($color-secondary, 0.2);
                color: $color-dark;
                border-radius: 12px;
                width: fit-content;
                .link {
                    text-decoration: none;
                    color: $color-success;
                    font-size: 30px;
                    padding:10px;
                    &:hover { //to fix
                        scale: 1.5;
                        transition: 0.2s all ease-in-out;
                    }
                }
            }
        }
        .projectsSection {
            justify-content: center;
            h1 {
                position: relative;
                width: fit-content;
                margin: auto;
            }
            .projectsList {
                min-width:20vw;
            }
        }
    }
}