@import '../../styles/settings.scss';

@media (min-width: 992px) { //above md size
    .row{
        max-width: 1600px;
        margin-right: 0;
        padding: 8px;
        .img {
            padding: 0;
            margin: 0 auto;
            max-width: 350px; 
            max-height: 350px;
        }
        .text {
            max-width: 600px; 
        }
        .buttonRow{
            max-width: 400px; 
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) { //md size
    .row{
        max-width: 750px;
        margin: 0;
        padding: 8px 0;
        .col {
            margin: 0 10px;
        }
        .img {
            padding: 0;
            max-width: 350px; 
            max-height: 350px;
        }
        .text {
            max-width: 300px; 
        }
        .buttonRow{
            max-width: 300px; 
        }
    }
}
@media (max-width: 768px) { //xs size
    .row{
        max-width: 450px; 
        margin: 0 ;
        padding: 0;
        .img {
            min-height: fit-content;
        }
        .text, .buttonRow, .img {
            max-width: 300px; 
        }
    }
}

.home {
    position: relative;
    margin: 10px auto;
    .row {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 16px auto;
        padding: 10px;
        background: rgba($color-light, 1);
        border-radius: 12px;
        min-width: min-content;
        //border: 1px solid $color-dark;
        .buttonRow{
            display: flex;
            justify-content: center;
            position: relative;
            padding: 10px 0;
            margin: auto;
        }
        .text{
            background: rgba($color-secondary, 0.2);
            color: $color-dark;
            border-radius: 12px;
            padding: 10px;
            width: fit-content;
            margin: auto;
            .link {
                text-decoration: none;
                color: $color-success;
            }
        }
        .projectsSection {
            h1 {
                position: relative;
                margin-left: 10px;
            }
            .projectsList {
                min-width:20vw;
                padding:10px;
            }
        }
        .col {
            margin: 0 auto;
            border-radius: 12px;
            .img {
                margin: 0 auto;
                border-radius: 12px;
                aspect-ratio: 1;
                object-fit: cover;
                border: 4px solid rgba($color-secondary, 0.2);           
            }
            .title {
                font-family: 'Exo', sans-serif;
                margin-bottom: 10px;
                font-weight: 400;
                color: $color-dark;
            }
            .subtitle {
                font-weight: 100;
                font-size: $base-size * 1.5;
            }
            .description {
                font-size: $base-size;
            }
        }
    }
}