@import '../../styles/settings.scss';

.col {
    position: relative;
    margin: 0 auto;
    border-radius: 12px;
    max-width: 500px;
    .box {
        height: 45%;
        max-width: 400px;
        aspect-ratio: 2;
        padding: 10px 0;
        margin: 6px auto;
        margin-top: 0;
        border-radius: 12px;
        background-color: rgba($color-secondary, 0.05);
        border-bottom: 3px solid rgba($color-success, 1); 
        h1 {
            font-weight: 400;
            text-align: center;
            margin: 12px 12px 16px 12px;
        }
        .contactLink {
            margin: 0 32px;
            font-weight: 300;
            font-size: 18px;
            text-decoration: none;
            color: $color-success;
            i {
                font-size: 20px;
            }
        }
    }
}      
