@import '../../styles/settings.scss';

.col {
    position: relative;
    margin: 0 auto;
    border-radius: 12px;
    //border: 1px solid red;

    .box {
        //border: 1px solid red;
        max-width: 400px;
        aspect-ratio: 2;
        // /max-width: 30vw;
        //width: fit-content;
        padding: 10px 0;
        margin: 10px auto;
        margin-top: 0;
        border-radius: 12px;
        background-color: rgba($color-secondary, 0.05);
        border-bottom: 3px solid rgba($color-success, 1); 
        h1 {
            //margin-bottom: 16px;
            text-align: center;
            margin: 12px 12px 16px 12px;
        }
        .contactLink {
            margin: 0 32px;
            font-weight: 100;
            font-size: 18px;
            text-decoration: none;
            color: $color-success;
            i {
                font-size: 20px;
            }
        }
    }
}