@import '../../styles/settings.scss';

@media (min-width: 992px) { //above md size
    .projectBox {
        min-height: 310px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { //md size
    .projectBox {
        min-height: 330px;
    }
}

@media (max-width: 768px) { //xs size
    .projectBox {
        min-height: 420px;
    }
}




.projectBox {
    padding: 0 auto;
    position: relative;
    border-radius: 12px;
    padding: 4px;
    color: $color-dark;
    background: rgba($color-success, 0.05);
    margin: 10px auto;
    width: 75%;
    height: 80%;
    max-height: 420px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h4 {
        font-size: 30px;
        width:60%;
        margin: 10px auto;
        margin-bottom: 6px;
        color: $color-success;
        font-family: 'Exo', sans-serif;
    }
    ul {
        list-style: none;
        width:60%;
        margin: 10px auto;
        padding: 0;
        margin: 0 auto;
        li{
            padding: 2px;
            margin: 2px;
            display: inline-block;
            background: $color-light;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'Exo', sans-serif;
        }
    }
    h6 {
        font-size: 16px;
        margin: 20px auto;
        width: 60%;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 400px;
        width: 100%;
        margin:  0 auto;
        margin-top: auto;
            .link {
                display: inline;
                padding: 20px;
                position: relative;
                transition: left 0.3s ease;
                font-size: 40px;
                padding: 10px 30px;
                border-radius: 12px;
                a {
                    text-decoration: none;
                    color: $color-success;
                    .iconText {
                        font-size: 10px;
                        position: absolute;
                        width:100%;
                        top: 80%;
                        left: 0%;
                        opacity: 0;
                        visibility: hidden;
                        border-radius: 5px;
                        transition: opacity 0.4s ease, visibility 0.6s ease, left 0.4s ease;
                    }        
                }            
                &:hover{
                    top: -10px;
                    transition: 0.3s all ease-in-out;
                    .iconText {
                        opacity: 1;
                        visibility: visible;
                        top: calc(90%); 
                        transition: 0.4s all ease-in-out;
                    }
                }
            }
        }
}