@import '../../styles/settings.scss';

.navbar {
    color: rgba($color-success, 1);
    background: $color-light;
    margin: 0 20px;
    border-radius: 12px;
    border-left: 4px solid rgba($color-success, 1);
    border-right: 4px solid rgba($color-success, 1);
    .logo{
        font-family:'Exo', sans-serif;
        font-size: $base-size * 2;
        color: $color-success;
    }
    
    .link {
        font-size: $base-size * 1.5;
        text-decoration: none;
        color: $color-dark;
        padding: 2px 12px;
        margin: 0 2px;
        border-radius: 10px;
        &:hover{
            color: rgba($color-success, 1);
            transition: 0.1s all ease-in-out;
        }
    }
}