@import '../../styles/settings.scss';

.navbar {
    color: rgba($color-success, 1);
    background: $color-light;
    margin: 0 20px;
    border-radius: 12px;
    border-left: 4px solid rgba($color-success, 1);
    border-right: 4px solid rgba($color-success, 1);

    .logo{
        font-family:'Exo', sans-serif;
        font-size: $base-size * 2;
        color: $color-success;
    }
    
    .link {
        font-size: $base-size * 1.5;
        text-decoration: none;
        color: $color-success;
        margin: 0 10px;
        &:hover{
            color: rgba($color-dark, 0.6);
            font-size: $base-size * 1.6;
            transition: 0.2s all ease-in-out;
            margin: 0 8px;
        }
    }
}